{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{notebook.name}}</title>
</head>
<body>
    <div>
        <a href="/" class="back">На главную</a>
        <div>
            <div>
                <h1>{{notebook.name}}</h1>
                <img src="/static/{{notebook.id}}.png" width="500" height="500"/>
            </div>
            <div>
                <h3>Информация о ноутбуке</h3>
                <table>
                    <tr>
                        <td>Производитель</td>
                        <td>{{notebook.manufacturer}}</td>
                    </tr>
                    <tr>
                        <td>Модель</td>
                        <td>{{notebook.name}}</td>
                    </tr>
                    <tr>
                        <td>Диагональ дисплея</td>
                        <td>{{notebook.display}}</td>
                    </tr>
                    <tr>
                        <td>Операционная система</td>
                        <td>{{notebook.os}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>